scipy==1.4.1
librosa==0.6.3
requests==2.23.0
norbert==0.2.1
importlib_resources==1.4.0
numpy==1.18.1
pytube3==9.6.4
pydub==0.23.1
tensorflow==1.15.2
pandas==0.25.1
musdb==0.3.1
museval==0.3.0
pytube==9.6.0
gunicorn==19.9.0
spleeter
